* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Minecraft";
    src: url("../assets/fonts/Paskowy.ttf");
}
@font-face {
    font-family: "Cartoon";
    src: url("../assets/fonts/Mario-Kart-DS.ttf");
}

main.main-area {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .9); 
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4); 
}