* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Minecraft";
    src: url("../assets/fonts/Paskowy.ttf");
}
@font-face {
    font-family: "Cartoon";
    src: url("../assets/fonts/Mario-Kart-DS.ttf");
}


main.main-area {
    display: flex;
    flex-direction: column;
}