.BuyInfo {
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    margin-top:4%;
}
.BuyInfo .header{
    text-align:center;
    font-size:53px;
}

.guide{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:3em;
    margin-top:4%;
    margin-bottom:3%;

    margin-inline:5%;
}

.guide div{
    text-align:justify;
    border:8px solid black;
    height:245px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-inline:5%;
    border-radius:12px;

}
.roadmap{
    margin-top:4%;
    margin-bottom:4%;

}
.phase {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    margin-top:2%;
    margin-inline:3%;
    grid-column-gap:2%;
}

.phase div{
    height:533px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:justify;
    border:8px solid black;
    padding-inline:4%;
    border-radius:12px;
    transition: .3s;
    background-color:black;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.phase div:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
