.menu-icons {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 800;
    max-height: 35px;
}

.menu-icons svg {
    width: 35px;
    height: auto;
}

@media screen and (max-width: 699px) {
    .navbar {
        flex-direction: column;
        gap: 3.5em;
        flex: 0 0 25em;
        transition: margin .5s ease, padding .5s ease, flex .5s ease, color .2s ease-in .3s;
    }

    .navbar .logo {
        margin: 0 auto;
    }

    .menu ul {
        flex-direction: column;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.hide {
    flex: 0 0 0;
    padding: 0;
    color: hsla(0, 0%, 0%, 0);
    transition: color .2s ease, flex .5s ease .3s, margin .5s ease .3s, padding .5s ease .3s;
}

.navbar .logo p {
    font-family: "Minecraft";
    font-size: 36px;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.menu ul li {
    cursor: pointer;
    transition: .1s;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.buttons button {
    height: 45px;
    text-transform: uppercase;
    padding: 12px;
    font-size: 12px;
    cursor: pointer;
}

.buttons button:nth-child(1) {
    background-color: black;
    color: white;
    border: none;
}

.buttons button:nth-child(2) {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

@media screen and (min-width: 580px) {
    .buttons {
        justify-content: space-around;
        gap: 0;
    }
}

@media screen and (min-width: 700px) {

    .navbar {
        align-items: center;
        border-bottom: 1px solid black;
        margin-top: 0;
        padding: .3em 0;
        padding-inline: 2%;
    }

    .menu ul {
        margin: 0 1em;
        gap: 1em;
        flex-wrap: wrap;
    }

    .buttons {
        gap: .7em;
    }
}

@media screen and (min-width: 900px) {
    .menu ul {
        gap: 3em;
    }
}

@media screen and (min-width: 1000px) {
    .menu ul {
        gap: 4.5em;
    }
}

@media screen and (min-width: 1200px) {
    .menu ul {
        gap: 7em;
    }
}