.tokenomics{
    margin-top:3%;
}

.tokenomics .header{
    font-family: "Cartoon";
    text-align:center;
    font-size:43px;
    margin-bottom:1%;
}

.tokenomics .sub{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    margin: 0 1.5em;
    margin-bottom:2%;
}

.tokenomics .data{
    font-family:'Courier New', Courier, monospace;
}

.tokenomics .data {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1em;
}

.tokenomics .data li{
    border:.1px solid black;
    padding:12px;
    list-style:none;
    width:36%;
}

